.nav {
    float: right;
    margin-bottom: 1vmin;
    padding: 1vmin; 
    background-color:  rgb(62, 247, 62);
    border: 1vmin solid rgb(235, 68, 171);
    border-radius: 7vmin;
    font-size: 2.5vmin;
}
