.App {
  
  text-align: center;
  background-color: rgb(13, 18, 16);

}

p {
  display: grid;
  text-align: center;
  color: solid rgb(241, 65, 220);
  background-color: rgb(65, 244, 65);
  font-size: 5vmin;
  border-radius: 10vmin;
  border: 1vmin solid rgb(241, 65, 220);
  
  
}

h1 {
  color: rgb(244, 71, 203);
}

h4 {
  color: rgb(244, 71, 203);
}

label {
  color: rgb(244, 71, 203);
}

input {
  background-color: rgb(76, 240, 76);
}

